@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#58eeff;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}



html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    /* background: rgb(34,34,34); */
    background-image: url("https://wallpaperaccess.com/full/2454628.png");
    padding-left: 30rem;
}

section{
    padding:1rem 5%;
    min-height: 100vh;
}

.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color:rgb(195,201,191);
    text-transform: uppercase;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:var(--main-color);
    color:rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 5px;
}

.btn:hover{
    background:rgb(195,201,191);
    letter-spacing: .2rem;
    color: black;
    border:2px solid black;
}

header{
    position: fixed;
    top:0; left:0; bottom:0;
    /* background:rgb(90,91,91); */
     background: rgb(34,34,34);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding:8rem 2rem;
    width:30rem;
    text-align: center;
}

header .logo{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    font-weight: bolder;
}

header .logo span{
    text-transform: uppercase;
    color:var(--main-color);
}

header .navbar a{
    display: block;
    font-size: 2rem;
    color:#fff;
    margin:2rem 0;
}

header .navbar a:hover{
    letter-spacing: .2rem;
    color: var(--main-color);
}

header .follow a{
    font-size: 2.5rem;
    color:#fff;
    margin:0 .7rem;
}

header .follow a:hover{
    color:var(--main-color);
}

#menu-bars{
    position: fixed;
    top:1rem; right: 1rem;
    z-index: 10000;
    background:var(--main-color);
    color:#fff;
    border-radius: .5rem;
    padding:1rem 1.5rem;
    font-size: 3rem;
    cursor:pointer;
    display: none;
}

.cursor-1{
    position: absolute;
    top:0; left:0;
    height:1rem; width:1rem;
    background: var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active{
    height:7rem;
    width:7rem;
    opacity: .3;
}

.cursor-2{
    position: absolute;
    top:0; left:0;
    height:4rem; width:4rem;
    border:.1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.cursor-2.active{
    display: none;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .image{
    flex:1 1 60rem;
}

.home .image img{
    width:80%;
    /* height: 100%; */
    border-radius: 50%;
    border: 5px solid rgb(23, 81, 120);
}

.home .content{
    flex:1 1 40rem;
}

.home .content .hi{
    font-size: 2rem;
    color:var(--main-color);
}

.home .content h3{
    font-size: 4.5rem;
    color:rgb(195,201,191);
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--main-color);
    text-transform: uppercase;
}

.home .content .info{
    font-size: 2.5rem;
    color:rgb(195,201,191);
    padding:.5rem 0;
}

.home .content .text{
    font-size: 1.7rem;
    color:#666;
    padding:.5rem 0;
}

.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 2rem;
}

.about .row-1 .image{
    flex:1 1 25rem;
}

.about .row-1 .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border:1rem solid Rgb(195,201,191);
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    
}

.about .row-1 .content{
    flex:1 1 50rem;
}

.about .row-1 .content h3{
    color:rgb(195,201,191);
    font-size: 3.5rem;
}

.about .row-1 .content p{
    color:rgb(195,201,191);
    font-size: 1.7rem;
    padding:.5rem 0;
    text-transform: none;
}

.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box{
    flex:1 1 20rem;
}

.about .row-1 .content .box-container .box span{
    color:var(--main-color);
}

.about .row-2{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}






.about .row-2 .box-container{
    flex:1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row-2 .box-container .box{
    flex:1 1 15rem;
    background:rgb(255, 255, 255);
    padding:2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-2 .box-container .box h3{
    color:var(--main-color);
    font-size: 3rem;
}

.about .row-2 .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
}



.experience .box-container{

    /* display: flex; */
    flex-wrap: wrap;
}

.experience .box-container .box{
    position: relative;
    flex:1 1 33rem;
    border-left: .2rem solid var(--main-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;    
}

.experience .box-container .box::before{
    content: '';
    position: absolute;
    top:0; left:-1rem;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background:var(--main-color);
}

.experience .box-container .box .content{
    background-color: #fff;
    padding:1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.experience .box-container .box .content span{
    color:black;
    font-size: 1.7rem;
    background:var(--main-color);
    border-radius: 50rem;
    padding:.4rem 1rem;
}

.experience .box-container .box .content h3{
    font-size: 2.5rem;
    padding:.5rem 0;
    color:#111;
}

.experience .box-container .box .content p{
    font-size: 1.5rem;
    color:#666;
}


#project_h1{
    font-size: 25px;
    color: var(--main-color);
    
}

.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:0px 5%;
    
}

.portfolio .box-container .box{
    flex:1 1 30rem;
    height:70%;
    position: relative;
    overflow:hidden;
    border:1px solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    /* background:#fff; */
    background: rgba(76, 165, 175, 0.3);

    border-radius: 20px;
    padding: 20px;
}

.portfolio .box-container .box img{
    height:50%;
    width:100%;
    object-fit: cover;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
}

.portfolio .box-container .box img:hover{
    transform: scale(0.9);
 
}

.portfolio .box-container .box h2{
    font-size: 20px;
    /* color:#105068; */
    color: #fff;
    text-transform: uppercase;
}

.portfolio .box-container .box h1{
    font-size: 18px;
    /* color: #105068; */
    color: #fff;
}

#abc{
    margin-left: 25%;
    margin-right: 10px;
}

.contact .icons-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(auto,auto);
    gap:50px;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.contact .icons-container .icons{
    flex:1 1 25rem;
    text-align: center;
    padding:2rem;
    /* background:#fff; */
    background: rgba(76, 165, 175, 0.3);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: 5rem;
}


.contact .icons-container .icons:hover{
    background-color: #555;
}

.contact .icons-container .icons i{
    height:5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--main-color);
    color: #555;;
    border-radius: 50%;
}

.contact .icons-container .icons h3{
    color:#fff;
    font-size: 2rem;
    padding:.5rem 0;
    padding-top: 1rem;
}

.contact .icons-container .icons p{
    color:rgb(255, 255, 255);
    font-size: 1.7rem;
    text-transform: none;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row form{
    flex:1 1 55rem;
    background:#fff;
    padding:0 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.contact .row .map{
    flex:1 1 25rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    width: 100%;
}

.contact .row form .box,
.contact .row form textarea{
    width: 100%;
    border-bottom: .1rem solid #333;
    color:#333;
    text-transform: none;
    font-size: 1.7rem;
    padding:1rem 0;
    margin:1rem 0;
}

.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--main-color);
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
    text-transform: capitalize;
}

.contact .row form textarea{
    height: 20rem;
    resize: none;
}

.contact .row form .btn{
    margin-top: 0;
    margin-bottom: 1.5rem;
}






/* media queries  */
@media (max-width:800px){

    html{
        font-size: 55%;
    }
    
    body{
        padding: 0;
    }

    #menu-bars{
        display: initial;
    }

    header{
        left:-120%;
    }

    header.active{
        left:0%;
    }

    .calender{
        width: 95%;
    }
    .js-calendar-graph-svg{
        width: 95%;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    header{
        width:100%;
    }

    .experience .box-container .box{
        padding-right: 0;
    }

    .calender{
        width: 100%;
    }
    .js-calendar-graph-svg{
        width: 600;
    }
}

#hi{
    font-size: 30px;
}
#int{
    font-size: 60px;
}
#mail{
    text-transform: none;
}

.service .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}

.service .box-container .box{
    flex:1 1 30rem;
    text-align: center;
    padding:2rem;
    
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    height: 20rem;
    overflow: hidden;
    
}

.service .box-container .box img{
    width: 70%;
    height: 70%;
    
}

.service .box-container .box img{
    /* transform: scale(1.1) rotate(15deg); */
    /* transition: width 2s ease, height 2s ease; */
    animation: zoominoutsinglefeatured 7s infinite ;
    
}


@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(0.95,0.95)  rotate(0deg);
        
    }
    50% {
        transform: scale(1.06,1.06) rotate(0deg);
        
    }
    100% {
        transform: scale(0.95,0.95) rotate(0deg);
        
    }
}


.about .row-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    flex-wrap: wrap;
    gap:0px 80px;
    align-items: center;

}

.about .row-2 .skills{
    flex:1 1 40rem;
    /* background-color: rgb(74, 73, 73); */
    background: rgba(76, 165, 175, 0.3);
    padding: 20px;
    border-radius: 25px;
}



.about .row-2 .skills .progress{
    padding:1rem 0;
   
}

.about .row-2 .skills .progress h3{
    display: flex;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color:white;
    font-weight: 500;
}

.about .row-2 .skills .progress .bar{
    width:100%;
    background:rgb(175, 175, 175);
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span{
    display:block;
    height:100%;
    /* background:var(--main-color); */
    border-radius: 50rem;
}

.about .row-2 .skills:nth-child(1) .progress .bar span{
    background:rgb(249, 49, 89);
}
.about .row-2 .skills:nth-child(2) .progress .bar span{
    background:rgb(255, 255, 48);
}
.about .row-2 .skills:nth-child(3) .progress .bar span{
    background:rgb(56, 253, 253);
}
.about .row-2 .skills:nth-child(4) .progress .bar span{
    background:rgb(255, 157, 0);
}

.about .row-2 .skills:nth-child(1) .progress:nth-child(2) .bar span{
    width:85%;
}

.about .row-2 .skills:nth-child(1) .progress:nth-child(3) .bar span{
    width:90%;
}

.about .row-2 .skills:nth-child(1) .progress:nth-child(4) .bar span{
    width:80%;
}

.about .row-2 .skills:nth-child(1) .progress:nth-child(5) .bar span{
    width:75%;
}


.about .row-2 .skills:nth-child(2) .progress:nth-child(2) .bar span{
    width:95%;
}

.about .row-2 .skills:nth-child(2) .progress:nth-child(3) .bar span{
    width:80%;
}

.about .row-2 .skills:nth-child(2) .progress:nth-child(4) .bar span{
    width:90%;
}

.about .row-2 .skills:nth-child(2) .progress:nth-child(5) .bar span{
    width:85%;
}
.about .row-2 .skills:nth-child(2) .progress:nth-child(6) .bar span{
    width:85%;
}
.about .row-2 .skills:nth-child(3) .progress:nth-child(2) .bar span{
    width:90%;
}
.about .row-2 .skills:nth-child(3) .progress:nth-child(3) .bar span{
    width:95%;
}
.about .row-2 .skills:nth-child(4) .progress:nth-child(2) .bar span{
    width:85%;
}


#roundbar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 6%;
}
#calender{
    margin-bottom: 30px;
}
#aaa{
    color: #fff;
}



#inc {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(rgb(52, 255, 248) var(--progress), gray 0deg);
    font-size: 0;
    animation: 2s  ease-out turn_in reverse; 
  }
  
  #inc::after {
    content: attr(data-progress);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    border-radius: 50%;
    background:rgb(5, 33, 50);
    font-size: 17px;
    text-align: center;
    color: white;
  }
  
  @keyframes turn_in {
    5% {
      background: conic-gradient(rgb(172, 255, 40) calc(var(--progress) * .95), gray 0deg);
    }
    10% {
      background: conic-gradient(rgb(172, 255, 40) calc(var(--progress) * .9), gray 0deg);
    }
    15% {
      background: conic-gradient(rgb(172, 255, 40)calc(var(--progress) * .85), gray 0deg);
    }
    20% {
      background: conic-gradient(rgb(172, 255, 40) calc(var(--progress) * .8), gray 0deg);
    }
    25% {
      background: conic-gradient(rgb(172, 255, 40)calc(var(--progress) * .75), gray 0deg);
    }
    30% {
      background: conic-gradient(rgb(255, 192, 75) calc(var(--progress) * .7), gray 0deg);
    }
    35% {
      background: conic-gradient(rgb(255, 192, 75) calc(var(--progress) * .65), gray 0deg);
    }
    40% {
      background: conic-gradient(rgb(255, 192, 75) calc(var(--progress) * .6), gray 0deg);
    }
    45% {
      background: conic-gradient(rgb(255, 192, 75) calc(var(--progress) * .55), gray 0deg);
    }
    50% {
      background: conic-gradient(rgb(255, 192, 75) calc(var(--progress) * .5), gray 0deg);
    }
    55% {
      background: conic-gradient(rgb(255, 192, 75) calc(var(--progress) * .45), gray 0deg);
    }
    60% {
      background: conic-gradient(rgb(255, 255, 124) calc(var(--progress) * .4), gray 0deg);
    }
    65% {
      background: conic-gradient(rgb(255, 255, 124) calc(var(--progress) * .35), gray 0deg);
    }
    70% {
      background: conic-gradient(rgb(255, 255, 124) calc(var(--progress) * 0.3), gray 0deg);
    }
    75% {
      background: conic-gradient(rgb(255, 255, 124)  calc(var(--progress) * 0.25), gray 0deg);
    }
    80% {
      background: conic-gradient(rgb(255, 255, 124)  calc(var(--progress) * .2), gray 0deg);
      }
    85% {
      background: conic-gradient(red calc(var(--progress) * .15), gray 0deg);
      }
    90% {
        background: conic-gradient(red calc(var(--progress) * .1), gray 0deg);
      }
    95% {
        background: conic-gradient(red calc(var(--progress) * .05), gray 0deg);
      }
  100% {
      background: conic-gradient(gray 0deg);
    }
  }

.contrib-number{
    color: Rgb(52,255,248);
    font-size: 30px;
}
.text-muted{
    color: white;
    font-size: 15px;
}



/* #container {
    
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border: 1px solid #000;
    position: relative;
    border-radius: 50%;
    animation: spin 10s linear infinite;
    margin-top: 20%;
  }
  .item {
    width: 100px;
    height: 100px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    animation: spin 10s linear infinite reverse;
  }
  .item img{
    width: 100%;
    height: 100%;
  }
  @keyframes spin {
    100% {
      transform: rotate(1turn);
      
    }
  } 
  */